body{
	background-color:#f1f1f1;
}

.header {
	background-color: rgb(223, 183, 183);
	margin: 10px;
	padding: 10px;
	text-align: center;
	/*padding: 5px 5px;*/
	border-radius: 15px;
}
.des {
	background-color: #7e7676;
	padding: 10px 10px 10px 20px;
	opacity: 80%;
	border-radius: 15px;
	color: white;
}
.content {
	margin-top: 20px;
	font-size: large;
	border-radius: 15px;
	padding: 10px;
	margin:10px;
	background-color: white;
	padding-left: 50px;
	line-height:25px;
}
.link {
	text-decoration: none;
	color: #7e7676;
}

